.notfound-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.notfound-img {
  width: 80px;
}

.app-content {
  color: #6d396b;
  font-family: Roboto;
  font-size: 30px;
}
